/* ============================================================================
   TAMBAH PENANGANAN PAGE STYLES
   ============================================================================ */

.layout-container-penanganan {
  display: flex;
}
.main-content-penanganan {
  margin-left: 200px; /* sesuai lebar sidebar */
  width: 100%;
  padding: 40px;
}

.tambah-penanganan-container {
  width: 1000px;
  margin-left: 400px;
  margin-top: 70px;
  padding: 20px 20px;
}

.title-penanganan {
  font-size: 32px;
  font-weight: 700;
  color: #1f2937;
  font-family: Arial, Helvetica, sans-serif;
}
